# Ignore pycache
__pycache__

# Ignore .hidden files
.*

# Except .
!.github/
!.gitignore

# Ignore items in test (report, cache, etc), except files starting with test
tests/* 
!tests/test*
!tests/test_certs
!tests/pytest.ini

# Ignore logs/data/certs
logs/
data/
certs/
