[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hbmqtt = "*"
aiohttp = "*"
tinydb = "*"
pyyaml = ">=4.2b1"

[dev-packages]
black = "*"
coverage = "*"
mock = "*"
pylint = "*"
pbr = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"
pytest-cov = "*"
testfixtures = "*"

[pipenv]
allow_prereleases = true
